name: Reusable Deploy
on: 
    workflow_call:
        inputs:
            artifact-name:
                description: 'Name of the artifact to download'
                type: string
                required: true
                default: 'dist'
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v5
              with:
                    name: ${{ inputs.artifact-name }}
            - name: List files
              run: ls
            - name: Output information
              run: echo "Deploying & uploading ..."